<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280362611983-79ssqdui3kcebr3v4aet73fivrs375n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280362611983-79ssqdui3kcebr3v4aet73fivrs375n1</string>
	<key>API_KEY</key>
	<string>AIzaSyB9xqLOfL27REwqeJ0jzDOmqf_Quy0IJjk</string>
	<key>GCM_SENDER_ID</key>
	<string>280362611983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app---eng4003-37561</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app---eng4003-37561.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280362611983:ios:755beb06a9f1c96e10fa7a</string>
</dict>
</plist>